<p id="notice"><%= notice %></p>

<p>
  <strong>Number of votes:</strong>
  <%= @committees_voivodship.number_of_votes %>
</p>

<%= link_to 'Edit', edit_committees_voivodship_path(@committees_voivodship) %> |
<%= link_to 'Back', committees_voivodships_path %>
