<p id="notice"><%= notice %></p>

<p>
  <strong>Votes:</strong>
  <%= @committees_district.votes %>
</p>

<%= link_to 'Edit', edit_committees_district_path(@committees_district) %> |
<%= link_to 'Back', committees_districts_path %>
